
/* #center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
} */

.section {
min-width: 0;
height: 100vh;
min-height: 0;
overflow: hidden;
}

.main {
  /* min-width: 1760px; */
  height: calc(100hv - 64px);
  margin: 0 auto;
  padding: 12px 18px 16px;
  position: relative;
  overflow: hidden;
}

.mainWorkSpace {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 11px;
  height: 100%;
  min-height: 0;
}

 .topbar {
  /* backdrop-filter: blur(12px);
  z-index: 8; */
  background: #ffffffeb; 
  border-bottom: 1px solid #e8edf1;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 0 30px;
  display: flex;
  position: sticky;
  top: 0;
 }

 .topbarTitle {
min-width: 0;
display: block;
text-align: start;


 }

